health_check:
    path: /health
    controller: App\Controller\Health\HealthCheck
    methods: get

steps:
    path: /steps
    controller: App\Controller\Steps\Step::create
    methods: post

step_get_all:
    path: /steps
    controller: App\Controller\Steps\Step::getAll
    methods: get

paths:
    path: /paths
    controller: App\Controller\Paths\Path::create
    methods: post

get_user_paths:
    path: /user/{user}/paths
    controller: App\Controller\Paths\Path::getUserPaths
    methods: get

paths_create_node:
    path: /paths/{path}
    controller: App\Controller\Paths\Path::addNode
    methods: post
